version: '3.8'

services:
  db:
    image: postgres:15
    container_name: books_market_db_cont
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: books_market_redis

  worker:
    build: .
    command: celery -A books_market worker --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0

  web:
    build: .
    container_name: books_market_web_cont
    command: >
      sh -c "until cd /code && python manage.py migrate; do
              echo 'Postgres is unavailable - sleeping'
              sleep 1
            done
            python manage.py migrate &
            python manage.py runserver 0.0.0.0:10000"
    volumes:
      - .:/code
    ports:
      - "10000:10000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0

volumes:
  postgres_data: